autopep8
ipython
notebook
jupyter
jupyter_contrib_nbextensions
matplotlib
numpy
pytest
pytest-cov
nbconvert
nbformat
scipy
scikit-learn
setuptools
six
sphinx
sympy
control
yapf
pylint
flake8
tensorflow